<a href="https://colab.research.google.com/github/pcpiscator/Ciencia-de-dados/blob/master/camara_X_stf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas as pd                  
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from dateutil.parser import parse 

%matplotlib inline

In [ ]:
fonte = "https://raw.githubusercontent.com/pcpiscator/Ciencia-de-dados/master/camara_X_stf.txt"
dados = pd.read_csv(fonte)
dados.head()

          Deputado Partido Estado Voto
0   Abílio Santana      PL     BA  Sim
1        Abou Anni     PSL     SP  Sim
2   Acácio Favacho    PROS     AP  Sim
3     Adolfo Viana    PSDB     BA  Sim
4  Adriana Ventura    NOVO     SP  Não

In [ ]:
dados

In [ ]:
dados.shape

(513, 4)

In [ ]:
dados[["Deputado","Partido"]]

            Deputado        Partido
0     Abílio Santana             PL
1          Abou Anni            PSL
2     Acácio Favacho           PROS
3       Adolfo Viana           PSDB
4    Adriana Ventura           NOVO
..               ...            ...
508        Zé Carlos             PT
509          Zé Neto             PT
510         Zé Silva  SOLIDARIEDADE
511         Zé Vitor             PL
512      Zeca Dirceu             PT

[513 rows x 2 columns]

In [ ]:
dados["Partido"].value_counts()

PSL              53
PT               52
PL               42
PP               40
PSD              35
MDB              34
REPUBLICANOS     32
PSDB             32
PSB              30
DEM              29
PDT              26
SOLIDARIEDADE    14
PROS             11
PTB              11
PSOL             10
PSC              10
PODE             10
NOVO              8
AVANTE            8
CIDADANIA         8
PCdoB             7
PATRIOTA          6
PV                4
REDE              1
Name: Partido, dtype: int64

In [ ]:
dados[["Deputado","Voto"]]

            Deputado Voto
0     Abílio Santana  Sim
1          Abou Anni  Sim
2     Acácio Favacho  Sim
3       Adolfo Viana  Sim
4    Adriana Ventura  Não
..               ...  ...
508        Zé Carlos  Sim
509          Zé Neto  Sim
510         Zé Silva  Sim
511         Zé Vitor  Sim
512      Zeca Dirceu  Sim

[513 rows x 2 columns]

In [ ]:
dados[["Estado","Voto"]].value_counts()

Estado  Voto
SP      Sim          50
MG      Sim          37
BA      Sim          34
RJ      Sim          28
PE      Sim          24
                     ..
BA      AUSENTE       1
MA      Abstenção     1
PB)      AUSENTE      1
GO      Abstenção     1
PR      AUSENTE       1
Length: 65, dtype: int64

In [ ]:
dados[["Deputado","Voto"]].value_counts()

Deputado            Voto
Áurea Carolina      Sim     1
Átila Lira          Sim     1
Enio Verri          Sim     1
Enrico Misasi       Não     1
Erika Kokay         Sim     1
                           ..
Mauro Nazif         Sim     1
Maurício Dziedrick  Não     1
Merlong Solano      Sim     1
Miguel Lombardi     Sim     1
AJ Albuquerque      Sim     1
Length: 512, dtype: int64

In [ ]:
dados.query("Voto != 1")["Voto"]

0      Sim
1      Sim
2      Sim
3      Sim
4      Não
      ...
508    Sim
509    Sim
510    Sim
511    Sim
512    Sim
Name: Voto, Length: 513, dtype: object

In [43]:
dados[["Partido","Voto"]].value_counts()

Partido        Voto
PT             Sim           51
PSL            Não           38
PP             Sim           33
PL             Sim           32
REPUBLICANOS   Sim           28
MDB            Sim           28
PSDB           Sim           26
PSB            Sim           25
PSD            Sim           24
DEM            Sim           23
PDT            Sim           21
SOLIDARIEDADE  Sim           13
PSL            Sim           11
PSOL           Sim           10
PTB            Não            9
PSD            Não            9
NOVO           Não            8
PL             Não            8
PCdoB          Sim            7
PODE           Não            7
AVANTE         Sim            7
PSC            Não            7
PROS           Não            6
CIDADANIA      Sim            6
PP             Não            6
MDB            Não            5
DEM            Não            5
PROS           Sim            5
PSDB           Não            5
PSB            Não            4
PSC            Sim            3
REPUBLICANOS   Não            3
PATRIOTA       Sim            3
PV             Sim            3
PSL             AUSENTE       3
PDT            Não            3
PATRIOTA       Não            2
CIDADANIA      Não            2
PODE           Sim            2
PTB            Sim            2
MDB            Abstenção      1
PV             Não            1
PSB            AUSENTE        1
PT             AUSENTE        1
DEM            Abstenção      1
REPUBLICANOS   AUSENTE        1
REDE           Sim            1
PDT             AUSENTE       1
PATRIOTA       AUSENTE        1
PSL            AUSENTE        1
SOLIDARIEDADE  Não            1
PDT            AUSENTE        1
PL              AUSENTE       1
PSDB           Abstenção      1
PODE            AUSENTE       1
PSD            AUSENTE        1
                AUSENTE       1
PP             PRESIDENTE     1
AVANTE         Não            1
dtype: int64