<a href="https://colab.research.google.com/github/pcpiscator/Ciencia-de-dados/blob/master/camara_X_stf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd                  
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from dateutil.parser import parse 

%matplotlib inline

In [36]:
fonte = "https://raw.githubusercontent.com/pcpiscator/Ciencia-de-dados/master/camara_X_stf.txt"
dados = pd.read_csv(fonte)
dados.head()

          Deputado Partido Estado Voto
0   Abílio Santana      PL     BA  Sim
1        Abou Anni     PSL     SP  Sim
2   Acácio Favacho    PROS     AP  Sim
3     Adolfo Viana    PSDB     BA  Sim
4  Adriana Ventura    NOVO     SP  Não

In [37]:
mapeamento_Voto = {"Sim": 0, "Não": 1}
dados['Voto'] = dados['Voto'].map(mapeamento_Voto)

dados.head()

          Deputado Partido Estado  Voto
0   Abílio Santana      PL     BA   0.0
1        Abou Anni     PSL     SP   0.0
2   Acácio Favacho    PROS     AP   0.0
3     Adolfo Viana    PSDB     BA   0.0
4  Adriana Ventura    NOVO     SP   1.0

In [19]:
dados

            Deputado        Partido Estado Voto
0     Abílio Santana             PL     BA  Sim
1          Abou Anni            PSL     SP  Sim
2     Acácio Favacho           PROS     AP  Sim
3       Adolfo Viana           PSDB     BA  Sim
4    Adriana Ventura           NOVO     SP  Não
..               ...            ...    ...  ...
508        Zé Carlos             PT     MA  Sim
509          Zé Neto             PT     BA  Sim
510         Zé Silva  SOLIDARIEDADE     MG  Sim
511         Zé Vitor             PL     MG  Sim
512      Zeca Dirceu             PT     PR  Sim

[513 rows x 4 columns]

In [20]:
dados.shape

(513, 4)

In [21]:
dados[["Deputado","Partido"]]

            Deputado        Partido
0     Abílio Santana             PL
1          Abou Anni            PSL
2     Acácio Favacho           PROS
3       Adolfo Viana           PSDB
4    Adriana Ventura           NOVO
..               ...            ...
508        Zé Carlos             PT
509          Zé Neto             PT
510         Zé Silva  SOLIDARIEDADE
511         Zé Vitor             PL
512      Zeca Dirceu             PT

[513 rows x 2 columns]

In [22]:
dados["Partido"].value_counts()

PSL              53
PT               52
PL               42
PP               40
PSD              35
MDB              34
PSDB             32
REPUBLICANOS     32
PSB              30
DEM              29
PDT              26
SOLIDARIEDADE    14
PROS             11
PTB              11
PODE             10
PSC              10
PSOL             10
CIDADANIA         8
AVANTE            8
NOVO              8
PCdoB             7
PATRIOTA          6
PV                4
REDE              1
Name: Partido, dtype: int64

In [23]:
dados[["Deputado","Voto"]]

            Deputado Voto
0     Abílio Santana  Sim
1          Abou Anni  Sim
2     Acácio Favacho  Sim
3       Adolfo Viana  Sim
4    Adriana Ventura  Não
..               ...  ...
508        Zé Carlos  Sim
509          Zé Neto  Sim
510         Zé Silva  Sim
511         Zé Vitor  Sim
512      Zeca Dirceu  Sim

[513 rows x 2 columns]

In [24]:
dados[["Estado","Voto"]].value_counts()

Estado  Voto
SP      Sim          50
MG      Sim          37
BA      Sim          34
RJ      Sim          28
PE      Sim          24
                     ..
BA      AUSENTE       1
MA      Abstenção     1
PB)      AUSENTE      1
GO      Abstenção     1
PR      AUSENTE       1
Length: 65, dtype: int64

In [41]:
dados[["Deputado","Voto"]].value_counts()

Deputado            Voto
Áurea Carolina      0.0     1
Enrico Misasi       1.0     1
Eros Biondini       1.0     1
EuclydesPettersen   0.0     1
Evair de Melo       0.0     1
                           ..
Maurício Dziedrick  1.0     1
Merlong Solano      0.0     1
Miguel Lombardi     0.0     1
Milton Coelho       0.0     1
AJ Albuquerque      0.0     1
Length: 494, dtype: int64

Como se pode ver abaixo um total de 383 parlamentares deram voto a favor da manutenção da prisão do deputado.

In [38]:
dados.query("Voto != 1")["Voto"]

0      0.0
1      0.0
2      0.0
3      0.0
5      0.0
      ...
508    0.0
509    0.0
510    0.0
511    0.0
512    0.0
Name: Voto, Length: 383, dtype: float64

Como se pode  ver abaixo um total de 149 parlamentares deram voto negativo à manutenção da prisão do deputado.

In [40]:
dados.query("Voto != 0")["Voto"]

4      1.0
9      1.0
10     NaN
14     1.0
15     1.0
      ...
484    1.0
485    1.0
498    1.0
499    1.0
506    1.0
Name: Voto, Length: 149, dtype: float64

In [28]:
dados[["Partido","Voto"]].value_counts()

Partido        Voto
PT             Sim           51
PSL            Não           38
PP             Sim           33
PL             Sim           32
REPUBLICANOS   Sim           28
MDB            Sim           28
PSDB           Sim           26
PSB            Sim           25
PSD            Sim           24
DEM            Sim           23
PDT            Sim           21
SOLIDARIEDADE  Sim           13
PSL            Sim           11
PSOL           Sim           10
PTB            Não            9
PSD            Não            9
NOVO           Não            8
PL             Não            8
PCdoB          Sim            7
PODE           Não            7
AVANTE         Sim            7
PSC            Não            7
PROS           Não            6
CIDADANIA      Sim            6
PP             Não            6
MDB            Não            5
DEM            Não            5
PROS           Sim            5
PSDB           Não            5
PSB            Não            4
PSC            Sim            3
REPUBLICANOS   Não            3
PATRIOTA       Sim            3
PV             Sim            3
PSL             AUSENTE       3
PDT            Não            3
PATRIOTA       Não            2
CIDADANIA      Não            2
PODE           Sim            2
PTB            Sim            2
MDB            Abstenção      1
PV             Não            1
PSB            AUSENTE        1
PT             AUSENTE        1
DEM            Abstenção      1
REPUBLICANOS   AUSENTE        1
REDE           Sim            1
PDT             AUSENTE       1
PATRIOTA       AUSENTE        1
PSL            AUSENTE        1
SOLIDARIEDADE  Não            1
PDT            AUSENTE        1
PL              AUSENTE       1
PSDB           Abstenção      1
PODE            AUSENTE       1
PSD            AUSENTE        1
                AUSENTE       1
PP             PRESIDENTE     1
AVANTE         Não            1
dtype: int64

Deputados que votaram **NÃO**.

In [42]:
dados.query("Voto != 0")[['Deputado',"Voto"]]

            Deputado  Voto
4    Adriana Ventura   1.0
9        Afonso Hamm   1.0
10      Afonso Motta   NaN
14         Alan Rick   1.0
15     Alceu Moreira   1.0
..               ...   ...
484  Uldurico Junior   1.0
485  Vaidon Oliveira   1.0
498    Vinicius Poit   1.0
499       Vitor Hugo   1.0
506  Wilson Santiago   1.0

[149 rows x 2 columns]

Deputados que votaram **SIM**

In [45]:
dados.query("Voto != 1")[['Deputado',"Voto"]]

             Deputado  Voto
0      Abílio Santana   0.0
1           Abou Anni   0.0
2      Acácio Favacho   0.0
3        Adolfo Viana   0.0
5    Adriano do Baldy   0.0
..                ...   ...
508         Zé Carlos   0.0
509           Zé Neto   0.0
510          Zé Silva   0.0
511          Zé Vitor   0.0
512       Zeca Dirceu   0.0

[383 rows x 2 columns]