<a href="https://colab.research.google.com/github/pcpiscator/Ciencia-de-dados/blob/master/C%C3%B3pia_de_ECD_Introdu%C3%A7%C3%A3o_%C3%A0_Visualiza%C3%A7%C3%A3o_de_Dados_Tarefa_da_Semana_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ECD - Introdução à Visualização de Dados - Semana 2
## Exercícios 
### Biblioteca Pandas - Series, Dataframes, Importação, Seleção e Filtragem de Dados
##### Prof. Dr. Alessandro de Lima Bicho

## Olá, pessoal!

Um importante aspecto na gestão pública se refere ao montante orçamentário destinado à temática social. Frequentemente há indagações da eficácia dos programas de governo e dos valores aplicados nesta temática. Sabemos que um fator que dificulta a análise dos investimentos nesta área é a complexidade orçamentária do Governo Central, organizado em uma hierarquia que compõe o gasto público. 

No site http://dados.gov.br, portal brasileiro de dados abertos, o Ministério da Fazenda disponibilizou um dataset apresentando o dispêndio público organizado em uma série histórica de 2002 até 2015. Neste dataset há sete categorias: assistência social; educação e cultura; organização agrária; previdência social; saneamento básico e habitação; saúde; e trabalho e emprego. Este dataset contendo estas séries advém de mais de 190mil registros contábeis, permitindo uma análise em diversas dimensões e em diferentes métricas orçamentárias.

Nos quatros exercícios a seguir, vamos fazer uma pequena análise deste dataset, adotando as funcionalidades estudadas na semana 2 do nosso curso. Para facilitar, eu já fiz a importação do dataset para a nossa lista de exercícios. Para que não houvesse problemas na importação, tive que fazer pequenos ajustes na base: alterar a codifição dos caracteres ("ISO-8859-1"), remover o ponto separador nas grandezas númericas, assim como a notação da vírgula na parte fracionada, e substituir os dados faltantes por zero.

Bons estudos! 

Abraço, Alessandro.

Fonte: https://dados.gov.br/dataset/gastos-sociais-do-governo-central-dados-anuais

Aqui nós importamos o dataset, que está disponível no meu Google Drive. Caso queiram, podem fazer o download do dataset através do link informado na função `read_csv()` (para análise no Microsoft Excel, por exemplo).

In [84]:
# Parte inicial do nosso código para importar e carregar as bibliotecas (pandas, numpy, matplotlib)
# Este código também configura parâmetros para plotar nossos gráficos
import numpy as np
import pandas as pd
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.random.seed(12345)
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

In [ ]:
df.head()

                                Benefício Tributário  ...        2015
0                                  Rede Arrecadadora  ...   123426532
1                                              RETID  ...    65095650
2      Doações a Entidades Civis Sem Fins Lucrativos  ...   262425987
3  Entidades Sem Fins Lucrativos - Associação Civil   ...  2889831614
4       Entidades Sem Fins Lucrativos - Filantrópica  ...  1351980677

[5 rows x 17 columns]

In [18]:
#importar a biblioteca pandas
import pandas as pd

df = pd.read_csv("https://drive.google.com/uc?export=view&id=1ZMLJsjQHn9SieCk_FUdbM89Uszd0pCLv", error_bad_lines=False, encoding = "ISO-8859-1", sep = ";")
print (df)

                                  Benefício Tributário  ...        2015
0                                    Rede Arrecadadora  ...   123426532
1                                                RETID  ...    65095650
2        Doações a Entidades Civis Sem Fins Lucrativos  ...   262425987
3    Entidades Sem Fins Lucrativos - Associação Civil   ...  2889831614
4         Entidades Sem Fins Lucrativos - Filantrópica  ...  1351980677
..                                                 ...  ...         ...
212  Tecnologia da Informação e Comunicação - TI e TIC  ...           0
213                Microempreendedor Individual - MEI   ...           0
214  Indústrias Moveleiras, de Confecções e Artefat...  ...           0
215                        Indústrias de Transformação  ...           0
216                                    Setor Hoteleiro  ...           0

[217 rows x 17 columns]

In [2]:
df.columns.values

array(['Benefício Tributário', 'Função Orçamentária', 'Gasto Social',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015'], dtype=object)

1) Apresente uma tabela contendo os dispêndios em "2015" e os "Benefícios Tributários" contemplados. Considerar todos os benefícios tributários, mesmo aqueles que não tiveram gastos em 2015.

In [ ]:
# Responda aqui a questão 1
df["Benefício Tributário"]

In [31]:
df["2015"].value_counts

<bound method IndexOpsMixin.value_counts of 0       123426532
1        65095650
2       262425987
3      2889831614
4      1351980677
          ...
212             0
213             0
214             0
215             0
216             0
Name: 2015, Length: 217, dtype: int64>

2) Encontrar o valor total gasto em 2015.

In [35]:
# Responda aqui a questão 2
df["2015"].sum()

282437237610

In [53]:
#importar a biblioteca pandas
import pandas as pd

dados = pd.read_csv("https://raw.githubusercontent.com/pcpiscator/Ciencia-de-dados/master/gasto_saude.csv", error_bad_lines=False, encoding = "UTF-8", sep = ";")
dados

    Despesas Médicas  ...         Unnamed: 7
0  11.859.391.307,00  ...  25.035.246.955,00

[1 rows x 8 columns]

In [ ]:

dados["Unnamed: 7"]

3) Apresentar uma tabela contendo todas a informações referentes apenas ao "Gasto Social" para a "Saúde".

In [ ]:
# Responda aqui a questão 3
dados.columns.values

In [60]:
#Total dos gastos com saúde.
dados["Unnamed: 7"]

0    25.035.246.955,00
Name: Unnamed: 7, dtype: object

4) Encontrar o gasto médio por ano de cada grupo contido em "Função Orçamentária".

In [72]:
df["Função Orçamentária"]

0                   Administração
1                 Defesa Nacional
2              Assistência Social
3              Assistência Social
4              Assistência Social
                  ...
212     Renúncias Previdenciárias
213     Renúncias Previdenciárias
214     Renúncias Previdenciárias
215     Renúncias Previdenciárias
216     Renúncias Previdenciárias
Name: Função Orçamentária, Length: 217, dtype: object

In [ ]:
# Responda aqui a questão 4