<a href="https://colab.research.google.com/github/pcpiscator/Ciencia-de-dados/blob/master/Ex_PIPE_S3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# nosso notebook precisa utilizar algumas bibliotecas do python
# para trabalharmos com os dados. Estas bibliotecas tem métodos que nos
# permitem fazer vários tipos de análise. 

import pandas as pd                  
import numpy as np
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.random.seed(12345)
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from dateutil.parser import parse 

%matplotlib inline

Tratando dado faltante

In [12]:
string_dados = pd.Series(['vinagre','azeite','np.nan','tomate'])
string_dados

0    vinagre
1     azeite
2     np.nan
3     tomate
dtype: object