<a href="https://colab.research.google.com/github/pcpiscator/Ciencia-de-dados/blob/master/HomicidiosBrG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import pandas as pd                  
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from dateutil.parser import parse 

%matplotlib inline

In [ ]:
#dados = {'nome':['Jose', 'Maria','Chico','Alberto'],'idade':[20,19,25,40]}
#df=pd.DataFrame(dados)
#df

In [53]:
dados = 'https://raw.githubusercontent.com/pcpiscator/Ciencia-de-dados/master/homicidios02.txt'
df=pd.read_csv(dados)
df.head()

    cod País   Ano    Num
0  1076  BRA  1979  11217
1  1076  BRA  1980  13911
2  1076  BRA  1981  15216
3  1076  BRA  1982  15554
4  1076  BRA  1983  17410

In [ ]:
df[' cod'].unique

In [ ]:
df['Num'].unique

In [ ]:
df[' cod']

In [ ]:
df['Num']

In [ ]:
df['País']

In [ ]:
df['Período']

In [ ]:
df.columns.values

In [ ]:
df["Num"].value_counts()

In [ ]:
df[["Ano","Num"]]

In [ ]:
df[[" cod","Num"]]