<a href="https://colab.research.google.com/github/pcpiscator/Ciencia-de-dados/blob/master/HomPeq.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd                  
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from dateutil.parser import parse 

%matplotlib inline

In [8]:
#dados = {'nome':['Jose', 'Maria','Chico','Alberto'],'idade':[20,19,25,40]}
#df=pd.DataFrame(dados)
#df

In [ ]:
dados = {'Cod':[1076,1076,1076,1076,1076],'Nome':['BRA','BRA','BRA','BRA','BRA'], 'Período':[1979,1980,1981,1982,1983],'Números':[11217,13911,15216,15554,17410 ]}
df=pd.DataFrame(dados)
df

In [ ]:
df['Cod'].unique

In [ ]:
df['Números'].unique

In [ ]:
df['Cod']

In [ ]:
df['Números']

In [ ]:
df['Nome']

In [14]:
df['Período']

0    1979
1    1980
2    1981
3    1982
4    1983
Name: Período, dtype: int64