<a href="https://colab.research.google.com/github/pcpiscator/Ciencia-de-dados/blob/master/Loja_Eletrodom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
# bibliotecas para análise de dados
import numpy as np
import pandas as pd

# bibliotecas para gráficos 
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import plotly.offline as py
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.float_format = '{:.2f}'.format
# bibliotecas para visualização
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# configuração para ignorar mensagens de advertência (warning). 
# Muitas vezes estas mensagens atrapalham, pois pode trazer a informação de 
# algo está muito errado com nosso código quando na verdade temos apenas uma situação de advertência. 
import warnings
warnings.filterwarnings('ignore')

In [5]:
fonte = 'https://raw.githubusercontent.com/pcpiscator/Ciencia-de-dados/master/dados_pedidos.csv'
dados = pd.read_csv(fonte)
dados.head()

,DataPedido,Regiao,Estado,Vendedor,Item,Unidades,PrecoUnidade
0,7-Jun-2020,Nordeste,Pernambuco,Tobias,Geladeira,62,400.99
1,11-Jul-2020,Nordeste,Paraíba,Nadia,Microondas,29,100.99
2,20-Jul-2020,Sudeste,Minas Gerais,Carlos,Geladeira,55,1200.49
3,19-Jul-2020,Nordeste,Bahia,Tania,Microondas,81,1900.99
4,16-Aug-2020,Sudeste,Rio de Janeiro,Pedro,Geladeira,42,2300.95

In [ ]:
dados

In [ ]:
dados.columns.values

In [19]:
dados[["Vendedor", "Estado"]]

    Vendedor               Estado
0     Tobias           Pernambuco
1      Nadia              Paraíba
2     Carlos         Minas Gerais
3      Tania                Bahia
4      Pedro       Rio de Janeiro
5     Tobias              Alagoas
6   Mauricio       Santa Catarina
7      Smith         Minas Gerais
8       Alan       Rio de Janeiro
9     Tobias           Pernambuco
10  Mauricio    Rio Grande do Sul
11    Carlos         Minas Gerais
12    Thomas    Rio Grande do Sul
13    Tobias              Sergipe
14    Raquel       Rio de Janeiro
15     Tania                Bahia
16      Alex       Rio de Janeiro
17     Pedro         Minas Gerais
18      Alex       Rio de Janeiro
19     Smith       Rio de Janeiro
20    Raquel       Rio de Janeiro
21     Tania           Pernambuco
22    Tobias                Ceará
23      Alan            São Paulo
24     Pedro            São Paulo
25     Smith            São Paulo
26      Alex            São Paulo
27    Tobias                Ceará
28      Alan            São Paulo
29  Mauricio               Paraná
30  Mauricio       Santa Catarina
31      Alex            São Paulo
32    Tobias          Pernanbumco
33    Raquel            São Paulo
34    Raquel            São Paulo
35     Nadia                Bahia
36      Alex            São Paulo
37      Alan            São Paulo
38    Thomas    Rio Grande do Sul
39      Alan            São Paulo
40    Tobias  Rio Grande do Norte
41     Pedro            São Paulo
42    Carlos            São Paulo

In [17]:
["Vendedor"].hist()

AttributeError: ignored