<a href="https://colab.research.google.com/github/pcpiscator/Ciencia-de-dados/blob/master/naufragio01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
#importar a biblioteca pandas
import pandas as pd
#pd.options.display.max_columns = None
#pd.options.display.max_rows = None
pd.options.display.float_format = '{:.2f}'.format
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
dados

   Passageiros  ... % mortos por total a bordo
0     Crianças  ...                      0.04%
1          NaN  ...                         0%
2          NaN  ...                       2.4%
3          NaN  ...                       2.4%
4     Mulheres  ...                       0.2%
5          NaN  ...                       0.6%
6          NaN  ...                       4.0%
7          NaN  ...                       0.1%
8          NaN  ...                       4.9%
9       Homens  ...                       5.3%
10         NaN  ...                       6.9%
11         NaN  ...                      17.4%
12         NaN  ...                      31.2%
13         NaN  ...                      60.8%
14       Total  ...                      68.1%

[15 rows x 10 columns]

In [ ]:
fonte = "https://raw.githubusercontent.com/pcpiscator/Ciencia-de-dados/master/naufragio.csv"
dados = pd.read_csv(fonte)
dados.head()

In [ ]:
dados.shape

In [ ]:
dados["Categoria"]