<a href="https://colab.research.google.com/github/pcpiscator/Ciencia-de-dados/blob/master/S4_Tarefa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ECD - Introdução à Visualização de Dados - Semana 4
## Exercícios 
### Estatística Descritiva, Matriz de Correlação e Exploração de Dados usando Gráficos
##### Prof. Dr. Alessandro de Lima Bicho

## Olá, pessoal!

Em 15 de abril de 1912, o maior navio de passageiros já construído colidiu com um iceberg durante sua viagem inaugural. Quando o Titanic afundou, ele matou 1502 dos 2224 passageiros e tripulantes. Esta tragédia chocou a comunidade internacional, e levou a melhores regulamentos de segurança para os navios. Uma das razões pelas quais o naufrágio resultou em tal perda de vidas foi que não havia botes salva-vidas suficientes para os passageiros e tripulantes. Embora houvesse algum elemento de sorte envolvido em sobreviver ao naufrágio, alguns grupos de pessoas tinham maior probabilidade de sobreviver do que outros.

O dataset titanic.csv contém dados de 887 passageiros reais do Titanic. Cada linha representa uma pessoa. As colunas descrevem diferentes atributos sobre a pessoa, incluindo:
- Survived (sobreviveu): se sobreviveu ao naufrágio estará com 1, e 0 (zero) se não sobreviveu;
- Pclass: tipo de classe de passagem (Do 1 ao 3), sendo 1 a melhor classe e 3 a pior classe;
- Name: nome do passageiro(a);
- Sex: gênero do passageiro, sendo masculino e feminino;
- Age: idade do passageiro na data da ocorrência do naufrágio;
- Siblings/Spouses Aboard: número de irmãos/cônjuges a bordo;
- Parents/Children Aboard: número de pais/filhos a bordo;
- Fare: valor da passagem.	

Nesta tarefa, temos duas questões que procurarão fundamentar estatiscamente suas conclusões sobre os sobreviventes deste naufrágio.

Bons estudos! 

Abraço, Alessandro.

Aqui nós importamos o dataset, que está disponível no meu Google Drive. Caso queiram, podem fazer o download do dataset através do link informado na função `read_csv()` (para análise no Microsoft Excel, por exemplo).

In [ ]:
#importar a biblioteca pandas
import pandas as pd
#pd.options.display.max_columns = None
#pd.options.display.max_rows = None
pd.options.display.float_format = '{:.2f}'.format
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

df = pd.read_csv("https://drive.google.com/uc?export=view&id=1Ad2NNAqsCDGwl125D7z-nSbPLVpCFlYu", error_bad_lines=False, encoding = "ISO-8859-1", sep = ",")
df

1) Ao rever os dados de 887 passageiros do naufrágio do Titanic, você, cientista de dados, percebe que pode haver uma **correlação** que explique os sobreviventes deste naufrágio! Demonstre, através dos ensinamentos das Semanas 3 e 4, como estatísticamente podemos fundamentar nossa resposta. Explore os possíveis métodos.

Começamos pelas correlações entre os diversos gupos de sobreviventes.

In [ ]:
# Responda aqui a questão 1
#
df.corr()

In [ ]:
#Outra visualização
plt.subplots(figsize=(15,8))
sns.heatmap(df.corr(),annot=True)

In [ ]:
df.describe()

Como se pode ver, apenas 39% das pessoas sobreviveram. A maioria viajava na 2a ou 3a  Classes (a média de Pclass é 2,31). A média de idade era de 29,47 anos. O mais novo tinha  pouco mais de 5 meses e o mais velho 80 anos.

In [ ]:
df.groupby('Sex').mean()

Depreende-se do quadro acima, que 74% das mulheres sobreviveram contra apenas 19% dos homens.

In [12]:
df.groupby('Pclass').mean()

        Survived   Age  Siblings_Spouses_Aboard  Parents_Children_Aboard  Fare
Pclass
1           0.63 38.79                     0.42                     0.36 84.15
2           0.47 29.87                     0.40                     0.38 20.66
3           0.24 25.19                     0.62                     0.40 13.71

63 % das pessoas que sobreviveram eram da 1a Classe. 47% pertenciam à 2a Classe e apenas 24% eram da 3a Classe.

In [21]:
df[df['Age']<=12].value_counts().sort_index().sum()

79

In [ ]:
df[df['Age']<18].value_counts().sort_index().sum()

In [ ]:
df[df['Age']<=12].mean()

In [ ]:
df[df['Age']>12].mean()

In [ ]:
df[df['Age']<18].mean()

Vê-se pelos quadros acima, que as crianças tiveram maior chance de sobreviver (54% contra 37% dos que tinham mais de 12 anos)

ECA - Artigo 2º
Considera-se criança, para os efeitos desta Lei, a pessoa até doze anos de idade incompletos, e adolescente aquela entre doze e dezoito anos de idade.

Pelo acima descrito, constata-se que mulheres e crianças tiveram maior chance de sobreviver. Destaque-se também, que as pessoas em classe mais elevada tiveram maior chance de sobrevivência.